<h1>Add New section</h1>
<form action="/section/newinsert" method=POST>
Section Name:<input type="text" name="secname" placeholder="Type a new section name"><br>
<input type="submit" value="Add New">
</form>